dev/template/index.pug
include includes/mixin
doctype
html(lang="en")
    head
        include includes/head
    body

        include includes/header
        section.offset
            .slider.owl-carousel.owl-theme
                .slider__item(style="background: url(images/jpg/slide.jpg) center / cover")
                    .slider__inner
                        h3.slider__title Unique and Modern Design
                        .slider__subtitle Portfolio PSD Template
                        .slider__desc Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
                        a.btn(href="#") Get Started
                .slider__item(style="background: url(images/jpg/slide.jpg) center / cover")
                    .slider__inner
                        h3.slider__title Unique and Modern Design
                        .slider__subtitle Portfolio PSD Template
                        .slider__desc Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
                        a.btn(href="#") Get Started
                .slider__item(style="background: url(images/jpg/slide.jpg) center / cover")
                    .slider__inner
                        h3.slider__title Unique and Modern Design
                        .slider__subtitle Portfolio PSD Template
                        .slider__desc Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
                        a.btn(href="#") Get Started
        section#about-us.section
            .container
                .row
                    .col-lg-3.col-md-6.col-sm-6.col-xs-12
                        .ibox
                            +icon('pencil', 'ibox__icon')
                            h4.ibox__title Web & App Design
                            .ibox__desc Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
                    .col-lg-3.col-md-6.col-sm-6.col-xs-12
                        .ibox
                            +icon('dev', 'ibox__icon')
                            h4.ibox__title Development
                            .ibox__desc Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
                    .col-lg-3.col-md-6.col-sm-6.col-xs-12
                        .ibox
                            +icon('settings', 'ibox__icon')
                            h4.ibox__title Customization
                            .ibox__desc Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
                    .col-lg-3.col-md-6.col-sm-6.col-xs-12
                        .ibox
                            +icon('folder', 'ibox__icon')
                            h4.ibox__title Marketing
                            .ibox__desc Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
        section.section.section_selected
            .container
                h1.section__title Waxom is Realization of your Ideas.
                .section__desc Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
                picture
                    source(type="image/webp" srcset="images/webp/browser-center.webp")
                    source(type="image/png" srcset="images/jpg/browser-center.png")
                    img.image-block(src="images/jpg/browser-center.png" alt="Waxom is Realization of your Ideas")
        section.gradient
            .container
                .row
                    .col-lg-9.col-md-9.col-sm-8.col-xs-12
                        .info
                            h2.info__title
                                span Waxom 
                                | Multipurpose WordPress Theme
                            .info__desc Don't Forget to Rate the Template. Thanks so much!
                    .col-lg-3.col-md-3.col-sm-4.col-xs-12.justify-center
                        a.btn(href="#") Purchase Now
        section#project.section
            .container.flex
                h2.section__title Our Latest Projects
                .section__desc Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
                .button-group
                    button(data-filter='*').is-checked All
                    button(data-filter='.design') Web Design
                    button(data-filter='.app') Mobile App
                    button(data-filter='.illustration') Illustration
                    button(data-filter='.photo') Photography
                .grid
                    .grid__item.photo.app
                        .project
                            .project__image
                                picture
                                    source(type="image/webp" srcset="images/webp/project1.webp")
                                    source(type="image/jpg" srcset="images/jpg/project1.jpg")
                                    img(src="images/jpg/project1.jpg", alt="Claritas Etiam Processus")
                                .project__link
                                    a(class="link" href="#")
                                    a(class="zoom" href="#")
                            .project__inner
                                .project__title Claritas Etiam Processus
                                .project__desc Photography, Nature
                    .grid__item.app.illustration
                        .project
                            .project__image
                                picture
                                    source(type="image/webp" srcset="images/webp/project2.webp")
                                    source(type="image/jpg" srcset="images/jpg/project2.jpg")
                                    img(src="images/jpg/project2.jpg", alt="Quam Nutamus Farum")
                                .project__link
                                    a(class="link" href="#")
                                    a(class="zoom" href="#")
                            .project__inner
                                .project__title Quam Nutamus Farum
                                .project__desc Graphic Design, Mock-Up
                    .grid__item.photo
                        .project
                            .project__image
                                picture
                                    source(type="image/webp" srcset="images/webp/project3.webp")
                                    source(type="image/jpg" srcset="images/jpg/project3.jpg")
                                    img(src="images/jpg/project3.jpg", alt="Usus Legentis Videntur")
                                .project__link
                                    a(class="link" href="#")
                                    a(class="zoom" href="#")
                            .project__inner
                                .project__title Usus Legentis Videntur
                                .project__desc Photography, Holiday
                    .grid__item.photo.design
                        .project
                            .project__image
                                picture
                                    source(type="image/webp" srcset="images/webp/project4.webp")
                                    source(type="image/jpg" srcset="images/jpg/project4.jpg")
                                    img(src="images/jpg/project4.jpg", alt="Claritas Etiam Processus")
                                .project__link
                                    a(class="link" href="#")
                                    a(class="zoom" href="#")
                            .project__inner
                                .project__title Claritas Etiam Processus
                                .project__desc Photography, Nature
                    .grid__item.app.illustration
                        .project
                            .project__image
                                picture
                                    source(type="image/webp" srcset="images/webp/project5.webp")
                                    source(type="image/jpg" srcset="images/jpg/project5.jpg")
                                    img(src="images/jpg/project5.jpg", alt="Quam Nutamus Farum")
                                .project__link
                                    a(class="link" href="#")
                                    a(class="zoom" href="#")
                            .project__inner
                                .project__title Quam Nutamus Farum
                                .project__desc Graphic Design, Mock-Up
                    .grid__item.photo.design
                        .project
                            .project__image
                                picture
                                    source(type="image/webp" srcset="images/webp/project6.webp")
                                    source(type="image/jpg" srcset="images/jpg/project6.jpg")
                                    img(src="images/jpg/project6.jpg", alt="Usus Legentis Videntur")
                                .project__link
                                    a(class="link" href="#")
                                    a(class="zoom" href="#")
                            .project__inner
                                .project__title Usus Legentis Videntur
                                .project__desc Photography, Holiday
                a.btn.self-center(href="") Load More
        section#stats.gradient.scrolled
            .container
                .row.center-lg.center-md.center-sm.counters
                    .col-lg-2.col-md-4.col-sm-4.col-xs-12
                        .counter
                            +icon('clients', 'counter__icon')
                            .counter__num(data-counting-to="3587" data-speed="2500" data-interval="50") 0
                            h4.counter__title Satisfied Clients
                    .col-lg-2.col-md-4.col-sm-4.col-xs-12
                        .counter
                            +icon('coffe', 'counter__icon')
                            .counter__num(data-counting-to="207" data-speed="2500" data-interval="50") 0
                            h4.counter__title Cups of coffee
                    .col-lg-2.col-md-4.col-sm-4.col-xs-12
                        .counter
                            +icon('post', 'counter__icon')
                            .counter__num(data-counting-to="2500" data-speed="2500" data-interval="50") 0
                            h4.counter__title Blog posts
                    .col-lg-2.col-md-4.col-sm-4.col-xs-12
                        .counter
                            +icon('like', 'counter__icon')
                            .counter__num(data-counting-to="4000" data-speed="2500" data-interval="50") 0
                            h4.counter__title  Likes
                    .col-lg-2.col-md-4.col-sm-4.col-xs-12
                        .counter
                            +icon('launched', 'counter__icon')
                            .counter__num(data-counting-to="900" data-speed="2500" data-interval="50") 0
                            h4.counter__title  We launched
        section#features
            .container
                .row
                    .col-lg-4.col-md-5.col-sm-12.col-xs-12.last-xs.last-sm
                        picture
                            source(type="image/webp" srcset="images/webp/iphone.webp")
                            source(type="image/png" srcset="images/jpg/iphone.png")
                            img.image-block.small-sm-xs(src="images/jpg/iphone.png", alt="Excellent for Mobile Devices")
                    .col-lg-8.col-md-7.col-sm-12.col-xs-12.justify-center
                        .content
                            h2.content__title Excellent for Mobile Devices.
                            p Qisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius claritas. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
                            ul.content__list
                                li Nam liber tempor cum soluta nobis eleifend option;
                                li Option congue nihil imperdiet doming id quod mazim placerat facer;
                                li Eodem modo typi, qui nunc nobis videntur parum futurum;
                                li Investigationes demonstraverunt lectores
        section#partners.section.section_bg
            .container
                h2.section__title.hidden Partners
                .row
                    .col-lg-3.col-md-3.col-sm-3.col-xs-6
                        picture.partner
                            source(type="image/webp" srcset="images/webp/partner1.webp")
                            source(type="image/png" srcset="images/jpg/partner1.png")
                            img(src="images/jpg/partner1.png", alt="The barber")
                    .col-lg-3.col-md-3.col-sm-3.col-xs-6
                        picture.partner
                            source(type="image/webp" srcset="images/webp/partner2.webp")
                            source(type="image/png" srcset="images/jpg/partner2.png")
                            img(src="images/jpg/partner2.png", alt="Delicions")
                    .col-lg-3.col-md-3.col-sm-3.col-xs-6
                        picture.partner
                            source(type="image/webp" srcset="images/webp/partner3.webp")
                            source(type="image/png" srcset="images/jpg/partner3.png")
                            img(src="images/jpg/partner3.png", alt="Designers")
                    .col-lg-3.col-md-3.col-sm-3.col-xs-6
                        picture.partner
                            source(type="image/webp" srcset="images/webp/partner4.webp")
                            source(type="image/png" srcset="images/jpg/partner4.png")
                            img(src="images/jpg/partner4.png", alt="Royal")
        include includes/footer

public/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#252525">
    <meta http-equiv="Cache-control" content="public">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
    <link rel="manifest" href="images/favicon/site.webmanifest">
    <link rel="mask-icon" href="images/favicon/safari-pinned-tab.svg" color="#777777">
    <link rel="stylesheet" href="css/main.min.css">
    <title>Waxom | Test task</title>
  </head>
  <body>
    <header class="header" id="home">
      <div class="preloader"><img class="preloader__icon" src="icon/loader.svg" alt="loading">
        <div class="preloader__content">Loading</div>
      </div>
      <div class="container rd-navbar">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="rd-navbar-panel-canvas"><a class="logo">
                <svg class="logo__icon">
                  <use xlink:href="icon/sprite.svg#icon_logo"></use>
                </svg>
                <div class="logo__name">Waxom</div></a>
              <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
            </div>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9 flex-end">
            <nav class="rd-navbar-nav-wrap">
              <ul class="rd-navbar-nav menu">
                <li><a href="#home">Home</a></li>
                <li><a href="#about-us">About Us</a></li>
                <li><a href="#stats">Stats</a></li>
                <li><a href="#project">Projects</a></li>
                <li><a href="#features">Features</a></li>
                <li><a href="#partners">Partners</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <section class="offset">
      <div class="slider owl-carousel owl-theme">
        <div class="slider__item" style="background: url(images/jpg/slide.jpg) center / cover">
          <div class="slider__inner">
            <h3 class="slider__title">Unique and Modern Design</h3>
            <div class="slider__subtitle">Portfolio PSD Template</div>
            <div class="slider__desc">Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</div><a class="btn" href="#">Get Started</a>
          </div>
        </div>
        <div class="slider__item" style="background: url(images/jpg/slide.jpg) center / cover">
          <div class="slider__inner">
            <h3 class="slider__title">Unique and Modern Design</h3>
            <div class="slider__subtitle">Portfolio PSD Template</div>
            <div class="slider__desc">Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</div><a class="btn" href="#">Get Started</a>
          </div>
        </div>
        <div class="slider__item" style="background: url(images/jpg/slide.jpg) center / cover">
          <div class="slider__inner">
            <h3 class="slider__title">Unique and Modern Design</h3>
            <div class="slider__subtitle">Portfolio PSD Template</div>
            <div class="slider__desc">Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</div><a class="btn" href="#">Get Started</a>
          </div>
        </div>
      </div>
    </section>
    <section class="section" id="about-us">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="ibox">
              <svg class="ibox__icon">
                <use xlink:href="icon/sprite.svg#icon_pencil"></use>
              </svg>
              <h4 class="ibox__title">Web & App Design</h4>
              <div class="ibox__desc">Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.</div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="ibox">
              <svg class="ibox__icon">
                <use xlink:href="icon/sprite.svg#icon_dev"></use>
              </svg>
              <h4 class="ibox__title">Development</h4>
              <div class="ibox__desc">Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.</div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="ibox">
              <svg class="ibox__icon">
                <use xlink:href="icon/sprite.svg#icon_settings"></use>
              </svg>
              <h4 class="ibox__title">Customization</h4>
              <div class="ibox__desc">Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.</div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="ibox">
              <svg class="ibox__icon">
                <use xlink:href="icon/sprite.svg#icon_folder"></use>
              </svg>
              <h4 class="ibox__title">Marketing</h4>
              <div class="ibox__desc">Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section section_selected">
      <div class="container">
        <h1 class="section__title">Waxom is Realization of your Ideas.</h1>
        <div class="section__desc">Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.</div>
        <picture>
          <source type="image/webp" srcset="images/webp/browser-center.webp">
          <source type="image/png" srcset="images/jpg/browser-center.png"><img class="image-block" src="images/jpg/browser-center.png" alt="Waxom is Realization of your Ideas">
        </picture>
      </div>
    </section>
    <section class="gradient">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
            <div class="info">
              <h2 class="info__title"><span>Waxom </span>Multipurpose WordPress Theme</h2>
              <div class="info__desc">Don't Forget to Rate the Template. Thanks so much!</div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 justify-center"><a class="btn" href="#">Purchase Now</a></div>
        </div>
      </div>
    </section>
    <section class="section" id="project">
      <div class="container flex">
        <h2 class="section__title">Our Latest Projects</h2>
        <div class="section__desc">Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.</div>
        <div class="button-group">
          <button class="is-checked" data-filter="*">All</button>
          <button data-filter=".design">Web Design</button>
          <button data-filter=".app">Mobile App</button>
          <button data-filter=".illustration">Illustration</button>
          <button data-filter=".photo">Photography</button>
        </div>
        <div class="grid">
          <div class="grid__item photo app">
            <div class="project">
              <div class="project__image">
                <picture>
                  <source type="image/webp" srcset="images/webp/project1.webp">
                  <source type="image/jpg" srcset="images/jpg/project1.jpg"><img src="images/jpg/project1.jpg" alt="Claritas Etiam Processus">
                </picture>
                <div class="project__link"><a class="link" href="#"></a><a class="zoom" href="#"></a></div>
              </div>
              <div class="project__inner">
                <div class="project__title">Claritas Etiam Processus</div>
                <div class="project__desc">Photography, Nature</div>
              </div>
            </div>
          </div>
          <div class="grid__item app illustration">
            <div class="project">
              <div class="project__image">
                <picture>
                  <source type="image/webp" srcset="images/webp/project2.webp">
                  <source type="image/jpg" srcset="images/jpg/project2.jpg"><img src="images/jpg/project2.jpg" alt="Quam Nutamus Farum">
                </picture>
                <div class="project__link"><a class="link" href="#"></a><a class="zoom" href="#"></a></div>
              </div>
              <div class="project__inner">
                <div class="project__title">Quam Nutamus Farum</div>
                <div class="project__desc">Graphic Design, Mock-Up</div>
              </div>
            </div>
          </div>
          <div class="grid__item photo">
            <div class="project">
              <div class="project__image">
                <picture>
                  <source type="image/webp" srcset="images/webp/project3.webp">
                  <source type="image/jpg" srcset="images/jpg/project3.jpg"><img src="images/jpg/project3.jpg" alt="Usus Legentis Videntur">
                </picture>
                <div class="project__link"><a class="link" href="#"></a><a class="zoom" href="#"></a></div>
              </div>
              <div class="project__inner">
                <div class="project__title">Usus Legentis Videntur</div>
                <div class="project__desc">Photography, Holiday</div>
              </div>
            </div>
          </div>
          <div class="grid__item photo design">
            <div class="project">
              <div class="project__image">
                <picture>
                  <source type="image/webp" srcset="images/webp/project4.webp">
                  <source type="image/jpg" srcset="images/jpg/project4.jpg"><img src="images/jpg/project4.jpg" alt="Claritas Etiam Processus">
                </picture>
                <div class="project__link"><a class="link" href="#"></a><a class="zoom" href="#"></a></div>
              </div>
              <div class="project__inner">
                <div class="project__title">Claritas Etiam Processus</div>
                <div class="project__desc">Photography, Nature</div>
              </div>
            </div>
          </div>
          <div class="grid__item app illustration">
            <div class="project">
              <div class="project__image">
                <picture>
                  <source type="image/webp" srcset="images/webp/project5.webp">
                  <source type="image/jpg" srcset="images/jpg/project5.jpg"><img src="images/jpg/project5.jpg" alt="Quam Nutamus Farum">
                </picture>
                <div class="project__link"><a class="link" href="#"></a><a class="zoom" href="#"></a></div>
              </div>
              <div class="project__inner">
                <div class="project__title">Quam Nutamus Farum</div>
                <div class="project__desc">Graphic Design, Mock-Up</div>
              </div>
            </div>
          </div>
          <div class="grid__item photo design">
            <div class="project">
              <div class="project__image">
                <picture>
                  <source type="image/webp" srcset="images/webp/project6.webp">
                  <source type="image/jpg" srcset="images/jpg/project6.jpg"><img src="images/jpg/project6.jpg" alt="Usus Legentis Videntur">
                </picture>
                <div class="project__link"><a class="link" href="#"></a><a class="zoom" href="#"></a></div>
              </div>
              <div class="project__inner">
                <div class="project__title">Usus Legentis Videntur</div>
                <div class="project__desc">Photography, Holiday</div>
              </div>
            </div>
          </div>
        </div><a class="btn self-center" href="">Load More</a>
      </div>
    </section>
    <section class="gradient scrolled" id="stats">
      <div class="container">
        <div class="row center-lg center-md center-sm counters">
          <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
            <div class="counter">
              <svg class="counter__icon">
                <use xlink:href="icon/sprite.svg#icon_clients"></use>
              </svg>
              <div class="counter__num" data-counting-to="3587" data-speed="2500" data-interval="50">0</div>
              <h4 class="counter__title">Satisfied Clients</h4>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
            <div class="counter">
              <svg class="counter__icon">
                <use xlink:href="icon/sprite.svg#icon_coffe"></use>
              </svg>
              <div class="counter__num" data-counting-to="207" data-speed="2500" data-interval="50">0</div>
              <h4 class="counter__title">Cups of coffee</h4>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
            <div class="counter">
              <svg class="counter__icon">
                <use xlink:href="icon/sprite.svg#icon_post"></use>
              </svg>
              <div class="counter__num" data-counting-to="2500" data-speed="2500" data-interval="50">0</div>
              <h4 class="counter__title">Blog posts</h4>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
            <div class="counter">
              <svg class="counter__icon">
                <use xlink:href="icon/sprite.svg#icon_like"></use>
              </svg>
              <div class="counter__num" data-counting-to="4000" data-speed="2500" data-interval="50">0</div>
              <h4 class="counter__title"> Likes</h4>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
            <div class="counter">
              <svg class="counter__icon">
                <use xlink:href="icon/sprite.svg#icon_launched"></use>
              </svg>
              <div class="counter__num" data-counting-to="900" data-speed="2500" data-interval="50">0</div>
              <h4 class="counter__title"> We launched</h4>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="features">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 last-xs last-sm">
            <picture>
              <source type="image/webp" srcset="images/webp/iphone.webp">
              <source type="image/png" srcset="images/jpg/iphone.png"><img class="image-block small-sm-xs" src="images/jpg/iphone.png" alt="Excellent for Mobile Devices">
            </picture>
          </div>
          <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12 justify-center">
            <div class="content">
              <h2 class="content__title">Excellent for Mobile Devices.</h2>
              <p>Qisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius claritas. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
              <ul class="content__list">
                <li>Nam liber tempor cum soluta nobis eleifend option;</li>
                <li>Option congue nihil imperdiet doming id quod mazim placerat facer;</li>
                <li>Eodem modo typi, qui nunc nobis videntur parum futurum;</li>
                <li>Investigationes demonstraverunt lectores</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section section_bg" id="partners">
      <div class="container">
        <h2 class="section__title hidden">Partners</h2>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <picture class="partner">
              <source type="image/webp" srcset="images/webp/partner1.webp">
              <source type="image/png" srcset="images/jpg/partner1.png"><img src="images/jpg/partner1.png" alt="The barber">
            </picture>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <picture class="partner">
              <source type="image/webp" srcset="images/webp/partner2.webp">
              <source type="image/png" srcset="images/jpg/partner2.png"><img src="images/jpg/partner2.png" alt="Delicions">
            </picture>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <picture class="partner">
              <source type="image/webp" srcset="images/webp/partner3.webp">
              <source type="image/png" srcset="images/jpg/partner3.png"><img src="images/jpg/partner3.png" alt="Designers">
            </picture>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <picture class="partner">
              <source type="image/webp" srcset="images/webp/partner4.webp">
              <source type="image/png" srcset="images/jpg/partner4.png"><img src="images/jpg/partner4.png" alt="Royal">
            </picture>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
            <ul class="fmenu">
              <li>Copyright © 2015 <a href="#">Waxom</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Support</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">
            <ul class="fmenu">
              <li>Designed by <a href="#">ThemeFire </a></li>
              <li> Only on <a href="#">Envato Market</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="js/main.min.js"></script>
  </body>
</html>
